   /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/




/* Sticky footer styles
-------------------------------------------------- */

/*----------------------------------------*/
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin:0;
    padding-bottom: 6em;
}

.name {
    text-align: center;
}

h3 {
    align-content: center;
}

.button {
    border: none;
    color: black;
    background-color: transparent;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color: lightgray;
}

.navBar {
    display: flex;
    font-family: Georgia;
    position: relative;
    width: 100%;
    box-shadow: 5px 5px 5px 1px gray;
}

.BookIFrame {
    box-shadow: 5px 5px 5px 1px gray;
}

.ImageCarousel {
    width: 100%;
    justify-content: space-between;
    background-color: black;
    display: flex;
    flex-direction: row;
}

img {
    height: inherit;
    width: 100%;
    margin-right:auto;
    
}

.BookClass {
    list-style-type: none;
}

.BookNameList {
    font-size: 18px;
    
}

.OuterContainer {
    display: inline-flex;
    
}

.ListClass {
    display: inline-flex;
    text-decoration: none;
    margin-left: 1em;
    margin-top: 3px;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*Login css*/
.nav-login {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
}

.nav-login:hover, .nav-login:focus {
    text-decoration: none;
    color: black;
}

.navbar-nav {
    height: 12px;
    display: inline-flex;
    list-style-type: none;
    margin-left: auto;
}

.nav-new {
    color: black;
    padding: 4px 3px;
    text-decoration: none;
    font-size: 16px;
    height: unset;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
    color: black;
}

.login-title {
    margin: auto;
}

footer {
    width: 100%;
    background-color: white;
    font-family: Georgia;
    position: absolute;
    bottom: 0;
    box-shadow: -5px -2px 5px 1px gray;
}

.footContainer {
    min-height: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
}

.footList {
    display: inline-block;
    padding: 0.5em;
    color: black;
    text-decoration: none;
}

    .footList:hover {
        background-color: lightgray;
    }

/*recently added container*/
.recently-added-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: transparent;*/
    width: 100%;
    margin: 20px auto;
}

.recent_contain-div-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.ntopic {
    margin-left: 1em;
    background-color: transparent;
    border: none;
    color: black;
    padding: 7px, 50px, 0px, 10px;;
    font-size: 16px;
    cursor: pointer;
}

.recently-added-div-item {
    width: 280px;
    height: 180px;
    background-color: transparent;
    box-shadow: 0.5px 2.5px 3px 1px lightgray;
    cursor: pointer;
}

.recently-added-div-item-book {
    width: 180px;
    height: 220px;
    border: 1px black solid;
    /*margin-right: 20px;*/
    background-color: transparent;
}

.recently-div-text {
    text-align: center;
    padding-top: 6px;
    width: 280px;
    box-shadow: 0.5px 2.5px 3px 1px lightgray;
    height: 40px;
    background-color: transparent;
    margin-bottom: 20px;
}

.recently-div-story {
    text-align:left;
    width: 180px;
    height: 40px;
    margin-bottom: 10px;
}

.recently-div-book {
    text-align: start;
    width: 180px;
    height: 80px;
    margin-bottom: 10px;
    word-wrap:break-word;
}

.story-topic {
    border: none;
    color: darkslategray;
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width:initial;
}

.recently-added-div-descript {
    width: 280px;
    height: inherit;
}

.slideshow-container-main {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.slider-block {
    width: 75%;
    height: 350px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    cursor:pointer;
}

.slide-main-Image {
    width: 100%;
    height: inherit;
}

.hide {
    visibility: hidden;
}

.slide-controle {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}


.about-container {
    height: inherit;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #F5F5F5;
}

.about-header {
    text-align: center;
    color: black;
}

.about-content {
    margin-top: 40px;
    font-size: 18px;
}

.arrow {
    position: fixed;
    top: 50%;
    margin-top: -32px;
    font-size: 64px;
    color: #999999;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
    
}

#prev {
    left: 40px;

}
#next {

    right: 40px;
}

#area.epubarea {
    box-shadow: 5px 5px 5px 1px gray;
    padding: 0;
    margin: 10px auto;

}