
@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>The Category is not empty. There are still some books associated with it. Cannot delete right now.</h3>
<div class="ListClass"> <a asp-action="Index"> Return </a> </div>

